.Wrap {
  width: 100%;
  height: 100%;

  padding: 50px 50px 50px 50px;
  box-sizing: border-box;
}

.TableTab {
  overflow: scroll;
  box-sizing: border-box;
  padding: 0px 0px 15px 0px;
  height: calc(100vh - 200px);
}

.HeaderTopWrap {
  display: flex;
  justify-content: space-between;
}

.HeaderTopWrap .Item {
  width: 200px;
}

.HeaderTopWrap .BackButton {
  float: right;
}

.ProgressWrap {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.ProgressBar {
  margin-top: 7px;
  width: 100%;
}

.GameDoneHeader {
  margin-bottom: 20px;
}