.Player {
  padding-top: 7px;
  padding-bottom: 7px;
}

.Square {
  color: #888888;
}

.Name {
  font-size: 14px;
  color: #000000;
  margin-left: 5px;
  overflow: hidden;
  user-select: none;
  cursor: default;
  white-space: nowrap;
}