.Block {
  text-align: center;
  font-size: 14px;
  color: #000;
  user-select: none;
}

.Edit {
  cursor: pointer;
}

.TopWrap {
  margin-top: 5px;
  margin-bottom: 4px;
}

.BottomWrap {
  margin-top: 4px;
  margin-bottom: 5px;
}