.ContentWrap {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.Head {
  margin-bottom: 20px;
  //background-color: #f3f4f5;
  border-bottom: 1px solid #e7e8ec;
}

.HeaderTopWrap {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderTopWrap .Item {
  width: 200px;
}

.HeaderTopWrap .BackButton {
  float: right;
}

.ProgressWrap {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.ProgressBar {
  margin-top: 7px;
  width: 100%;
}

.WinnerWrap {
  padding: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.TableTab {
  overflow: scroll;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  height: calc(100vh - 150px);
}

.PlayersTab {
  padding: 20px;
  height: calc(100vh - 170px);
  overflow: scroll;
}

.SetupTreeWrap {
  height: calc(100vh - 150px);
  overflow: scroll;
  margin-top: 15px;
  padding: 0px 20px 20px 20px;
}

.StartGame {
  float: right;
  margin-right: 20px;
}

.TreeWrap {
  margin-top: 15px;
}

.Title {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}