.List {
  height: calc(100% - 71px);
  overflow: scroll;
}

.Line {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0px;
  }
}